{% extends 'layouts/layout_error.html' %}
{% set page_title = _('Method Not Allowed') %}
{% block body %}
<h1>Method Not Allowed <span>:(</span></h1>
<p>Sorry, but the page you were trying to view is not allowed.</p>
<p>It looks like this was the result of either:</p>
<ul>
    <li>no permission</li>
</ul>
<script>
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
</script>
<script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}
