<VirtualHost *:80>
    WSGIDaemonProcess DAEMON_NAME user=wilson group=wilson threads=5
    WSGIScriptAlias / PATH_TO_WSGI

    <Directory PATH_TO_PROJECT>
        WSGIScriptReloading On
        WSGIProcessGroup DAEMON_NAME
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>

    # Logfiles
    LogLevel info
    ErrorLog  PATH_TO_PROJECT/logs/error.log
    CustomLog PATH_TO_PROJECT/logs/access.log combined
</VirtualHost>
