# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

include LICENSE

# Including
# Python source files, test/*.py will be automatically included.
recursive-include fbone *.py
# Templates
recursive-include fbone/templates *
# Static files
recursive-include fbone/static *
# Translations
recursive-include fbone/translations *

# Excluding
recursive-exclude fbone *.pyc
recursive-exclude tests *.pyc
