{% from "macros/_form.html" import render_action %}

{% extends 'settings/layout_fluid_settings.html' %}

{% block body %}
<form class="form-horizontal" method="POST" action="{{ url }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>{{ page_title }}</legend>
        <div class="control-group{% if form.avatar.errors %} error{% endif %}">
            <label class="span3 control-label" for="{{ form.avatar.id }}">
                <img class="avatar" src="{{ url_for('static', filename=current_user.avatar_path) }}" />
            </label>

            <div class="controls">
                {{ form.avatar }}

                <span class="help-inline">{{ form.avatar.description }}</span>

                {% if form.avatar.errors %}
                    {% for error in form.avatar.errors %}
                    <span class="help-block error">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {{ render_action(form.submit) }}
    </fieldset>
</form>
{% endblock %}
