{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/_form.html" import render_form %}
{% from "macros/_social.html" import social_register %}

{% set page_title = "Register" %}

{% extends "layouts/base.html" %}
{% block body %}
<div>
  <h2>Register</h2>
</div>

<div class="row">
    <div class="span4 offset1">
{{ render_form(url_for_security('register'), register_user_form)}}
    </div>

    <div class="span2 col2">
        <h3>OR</h3>
    </div>
    <div class="span4 col3">

{{ social_register('facebook', 'Facebook') }}
{{ social_register('twitter', 'Twitter') }}
{{ social_register('google', 'Google') }}
{{ social_register('foursquare', 'foursquare') }}
    </div>

</div>
{% endblock %}
