{% extends "layouts/layout_base.html" %}

{% block css_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}" >
{% endblock %}

{% block container %}
<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">

            <!-- Left panel, specify width in child template -->
            {% block left %}
            {% endblock %}

            <!-- Right panel, specify width in child template. -->
            {% block right %}
            {% endblock %}

        </div>
    </div>
</div>
{% endblock %}
