{% extends "layouts/layout_fluid.html" %}

{% set page_header = _(active|capitalize) %}
{% set page_title = page_header + " - " + _("Settings") %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}" >
{% endblock %}

{% block css_style %}
<style type="text/css">
    body { padding-top: 60px; padding-bottom: 40px; }
    .sidebar-nav { padding: 9px 0; }
</style>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-list bs-docs-sidenav">
    <li class="{% if active == "profile" %}active{% endif %}">
        <a href='{{ url_for('user.profile') }}'><i class="icon-chevron-right"></i> {{ _('Profile') }}</a>
    </li>
    <li class="{% if active == "account" %}active{% endif %}">
        <a href='{{ url_for('user.account') }}'><i class="icon-chevron-right"></i> {{ _('Account') }}</a>
    </li>
    <li class="{% if active == "notification" %}active{% endif %}">
        <a href='{{ url_for('user.notification') }}'><i class="icon-chevron-right"></i> {{ _('Notification') }}</a>
    </li>
</ul>
{% endblock %}
