<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li>© 2012</li>
            <li><a href='https://github.com/imwilsonxu/fbone'>Project</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.about') }}'>About</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.blog') }}'>Blog</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.help') }}'>Help</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.privacy') }}'>Privacy</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.terms') }}'>Terms</a></li>
        </ul>
    </div>
</footer>
