<footer>
    <p style='text-align: center;'>
        © 2012 <a href='https://github.com/imwilsonxu/fbone') }}'>{{ _('Project') }}</a> &bull;
        <a href='{{ url_for('frontend.about') }}'>{{ _('About') }}</a> &bull;
        <a href='{{ url_for('frontend.blog') }}'>{{ _('Blog') }}</a> &bull;
        <a href='{{ url_for('frontend.help') }}'>{{ _('Help') }}</a> &bull;
        <a href='{{ url_for('frontend.privacy') }}'>{{ _('Privacy') }}</a> &bull;
        <a href='{{ url_for('frontend.terms') }}' title='{{ _('Terms of Service') }}'>{{ _('Terms') }}</a>
    </p>
</footer>
