{% macro render_checkbox(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    <div class="controls">
        <label for="{{ field.id }}" class="checkbox inline">
            {{ field }}{{ field.label.text }}
        </label>

        <span class="help-inline">{{ field.description }}</span>

        {% if field.errors %}
            {% for error in field.errors %}
            <span class="help-block error">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro%}

{% macro render_radio(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label" ) }}
    
    <div class="controls">
        {% for subfield in field %}
        <label for="{{ subfield.id }}" class="radio inline">
            {{ subfield }} {{ subfield.label.text }}
        </label>
        {% endfor %}

        <span class="help-inline">{{ field.description }}</span>

        {% if field.errors %}
            {% for error in field.errors %}
            <span class="help-block error">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_form(header, url, form) %}
<form class="form-horizontal" method="POST" action="{{ url }}">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>{{ header }}</legend>
        {% for field in form %}
            {% if field.type != "HiddenField" and field.type != "CSRFTokenField" %}
                {% if field.type == "RadioField" %}
                    {{ render_radio(field) }}
                {% elif field.type == "BooleanField" %}
                    {{ render_checkbox(field) }}
                {% elif field.type == "SubmitField" %}
                    {{ render_action(field) }}
                {% elif field.type == "TextAreaField" %}
                    {{ render_input(field) }}
                {% else %}
                    {{ render_input(field) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </fieldset>
</form>
{% endmacro %}

{% macro render_input(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    <label class="control-label" 
        for="{{ field.id }}">
        {{ field.label }}
    </label>

    <div class="controls">
        {{ field }}

        <span class="help-inline">{{ field.description }}</span>

        {% if field.errors %}
            {% for error in field.errors %}
            <span class="help-block error">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro render_action(field) %}
<div class="control-group">
    <div class="form-actions nobg">
        {{ field(class_="btn btn-primary") }}
    </div>
</div>
{% endmacro %}


{% macro render_user_table(users, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('user.pub', name=user.name) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.pages > 1 %}
        <div class='pagination'>
            <ul>
                <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page-1) }}">&larr; Previous</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class='{% if page == pagination.page %}active{% endif %}'>
                            <a href='{{ url_for(endpoint, page=page) }}'>{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='#'>...</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page+1) }}">Next &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_flash_message() %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="container">
                <div id='flash_message_container'>
                    {% for category, msg in messages %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endmacro %}
