{% trans change_password_url=url_for('frontend.change_password', email=user.email, activation_key=user.activation_key, _external=True) %}
Forgot your password, imwilsonxu (@imwilsonxu)?

Fbone received a request to reset the password for your Fbone account (@imwilsonxu).

If you want to reset your password, click on the link below (or copy and paste the URL into your browser):
{{ change_password_url }}

This link takes you to a secure page where you can change your password. For tips on selecting a strong password, see our Safe Tweeting help page.

If you don't want to reset your password, please ignore this message. Your password will not be reset. If you have any concerns, please contact us at Fbone Support.

The Fbone Team
{% endtrans %}
