{% from "macros/_misc.html" import render_input, render_action %}

{% set page_title = _('Change password') %}

{% extends 'layout.html' %}

{% block body %}
<div class='span12'>
    <form class='form-stacked' method="POST" action="{{ url_for('frontend.change_password') }}">
        {{ form.hidden_tag() }}
        {{ form.next }}
        <fieldset>
            <legend>Please input new password twice.</legend>
            {{ render_input(form.password) }}
            {{ render_input(form.password_again) }}
            {{ render_action(form.submit) }}
        </fieldset>
    </form>
</div>
{% endblock %}
