{% from "macros/_misc.html" import render_input, render_action %}
{% set page_title = _('Home') %}
{% extends 'layouts/layout_hero.html' %}
{% block body %}
<div class="hero-unit">
    <h1>{{ _("Project") }}</h1>
    <p>{{ _("Project description") }}</p>
    <p><a href="{{ url_for('frontend.about')}}" class="btn btn-primary btn-large">{{ _("Learn more »")}}</a></p>
</div>
<div class="row">
    <div class="span6">
        <h2>Front End</h2>
        <p>Bootstrap</p>
    </div>
    <div class="span6">
        <h2>Back End</h2>
        <p>SQLite</p>
    </div>
</div>
{% endblock %}
