{% from "macros/_misc.html" import render_input, render_action %}
{% set page_title = _('Sign up') %}
{% extends "layouts/layout_signin.html" %}
{% block body %}
<form class="form-signin" method="POST" action="{{ url_for('frontend.signup') }}">
    {{ form.hidden_tag() }}
    {{ form.next }}
    <fieldset>
        {% set link = url_for('frontend.login') %}
        {% set tip = _('Already have account? <a href="%(link)s">Sign in</a> please.', link=link) %}
        <legend>{{ tip }}</legend>
        {{ render_input(form.name, '', _('Username')) }}
        {{ render_input(form.email, '', _('Email')) }}
        {{ render_input(form.password, '', _('Password')) }}
        {{ render_input(form.password_again, '', _('Password again')) }}
        {{ render_action(form.submit, 'btn btn-primary', True) }}
    </fieldset>
</form>
{% endblock %}
