{% extends 'layouts/base.html' %}

{% block body %}
<h2>Help</h2>
<div class="accordion" id="accordion2">
    {% for i in [1, 2, 3] %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ i }}">Question #{{ i }}</a>
        </div>
        <div id="collapse{{ i }}" class="accordion-body collapse">
            <div class="accordion-inner">Answer #{{ i }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
